.form {
  width: 700px;
  background-color: silver;
  background-image: radial-gradient(
      circle at 100% 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0px 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      silver 10%,
      silver 23%,
      white 23%,
      white 30%,
      silver 30%,
      silver 43%,
      white 43%,
      white 50%,
      silver 50%,
      silver 63%,
      white 63%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0px 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
  --darkreader-inline-bgcolor: #3a3e40;
  --darkreader-inline-bgimage: radial-gradient(
      circle at 100% 150%,
      #3a3e40 24%,
      #1b1d1d 24%,
      #1b1d1d 28%,
      #3a3e40 28%,
      #3a3e40 36%,
      #1b1d1d 36%,
      #1b1d1d 40%,
      rgba(6, 6, 6, 0) 40%,
      rgba(6, 6, 6, 0)
    ),
    radial-gradient(
      circle at 0px 150%,
      #3a3e40 24%,
      #1b1d1d 24%,
      #1b1d1d 28%,
      #3a3e40 28%,
      #3a3e40 36%,
      #1b1d1d 36%,
      #1b1d1d 40%,
      rgba(6, 6, 6, 0) 40%,
      rgba(6, 6, 6, 0)
    ),
    radial-gradient(
      circle at 50% 100%,
      #1b1d1d 10%,
      #3a3e40 10%,
      #3a3e40 23%,
      #1b1d1d 23%,
      #1b1d1d 30%,
      #3a3e40 30%,
      #3a3e40 43%,
      #1b1d1d 43%,
      #1b1d1d 50%,
      #3a3e40 50%,
      #3a3e40 63%,
      #1b1d1d 63%,
      #1b1d1d 71%,
      rgba(6, 6, 6, 0) 71%,
      rgba(6, 6, 6, 0)
    ),
    radial-gradient(
      circle at 100% 50%,
      #1b1d1d 5%,
      #3a3e40 5%,
      #3a3e40 15%,
      #1b1d1d 15%,
      #1b1d1d 20%,
      #3a3e40 20%,
      #3a3e40 29%,
      #1b1d1d 29%,
      #1b1d1d 34%,
      #3a3e40 34%,
      #3a3e40 44%,
      #1b1d1d 44%,
      #1b1d1d 49%,
      rgba(6, 6, 6, 0) 49%,
      rgba(6, 6, 6, 0)
    ),
    radial-gradient(
      circle at 0px 50%,
      #1b1d1d 5%,
      #3a3e40 5%,
      #3a3e40 15%,
      #1b1d1d 15%,
      #1b1d1d 20%,
      #3a3e40 20%,
      #3a3e40 29%,
      #1b1d1d 29%,
      #1b1d1d 34%,
      #3a3e40 34%,
      #3a3e40 44%,
      #1b1d1d 44%,
      #1b1d1d 49%,
      rgba(6, 6, 6, 0) 49%,
      rgba(6, 6, 6, 0)
    );
}
